<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/images/favicon.png">
    <link rel="stylesheet" href="../resources/css/style.css">
    <!-- <link rel="stylesheet" href="../resources/css/bootstrap.css"> -->
    <title>Registration Form</title>
</head>

<body>
    <div class="mask"></div>
    <div class="main">
        <div class="banner-canva">
            <img class="banner" src="../resources/images/halo.jpg" alt="">
        </div>
        <div class="registration">
            <h1>Registration Form</h1>
            <form onsubmit="return false">
                <div class="form-item"><label>First Name</label>
                    <div class="input-wrapper">
                        <input type="text" id="fname" autocomplete="off" autocorrect="off" autocapitalize="off"
                            spellcheck="false" data-lpignore="true" />

                    </div>
                </div>
                <div class="form-item"><label>Last Name</label>
                    <div class="input-wrapper"><input type="text" id="sname" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-lpignore="true" /></div>
                </div>
                <div class="form-item"><label>Email Address</label>
                    <div class="input-wrapper"><input type="text" id="email" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-lpignore="true" /></div>
                </div>
                <div class="form-item"><label>Password</label>
                    <div class="input-wrapper"><input type="password" id="password" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-lpignore="true" /><button type="button"
                            id="eyeball">
                            <div class="eye"></div>
                        </button>
                        <div id="beam"></div>
                    </div>
                </div>
                <div class="form-item"><label>Confirm Password</label>
                    <div class="input-wrapper"><input type="text" id="cpassword" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-lpignore="true" /></div>
                </div>
                <button id="submit">Sign up</button>
            </form>

        </div>
    </div>

</body>
<script src="../resources/js/function.js"></script>

</html>