<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../resources/images/favicon.png">
    <link rel="stylesheet" href="../resources/css/style.css">

    <title>Registration Form</title>
</head>

<body>
    <audio id="myAudio">
        <source src="../resources/sound/theme.mp3" type="audio/mpeg">
    </audio>

    <audio id="beep">
        <source src="../resources/sound/beep.mp3" type="audio/mpeg">
    </audio>
    <audio id="login">
        <source src="../resources/sound/login.mp3" type="audio/mpeg">
    </audio>
    <div class="mask"></div>
    <div class="main">
        <div class="banner-canva">
            <img class="banner" src="../resources/images/halo.jpg" alt="">
        </div>
        <div class="registration">
            <h1>Registration Form</h1>
            <form action="welcome.php" method="post">
                <div class="form-item"><label>First Name</label>
                    <div class="input-wrapper">
                        <input type="text" id="fname" name="fname" autocomplete="off" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div>

                    </div>
                </div>
                <div class="form-item"><label>Last Name</label>
                    <div class="input-wrapper"><input type="text" id="sname" name="sname" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div>
                    </div>

                </div>
                <div class="form-item"><label>Email</label>
                    <div class="input-wrapper"><input type="text" id="email" name="email" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div>
                    </div>
                </div>
                <div class="form-item"><label>Address</label>
                    <div class="input-wrapper"><input type="text" id="address" name="address" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div>
                    </div>
                </div>
                <div class="form-item"><label>Password</label>
                    <div class="input-wrapper"><input type="password" id="password" name="password" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div><button type="button" id="eyeball">
                            <div class="eye"></div>
                        </button>
                        <div id="beam"></div>
                    </div>
                </div>
                <div class="form-item"><label>Confirm Password</label>
                    <div class="input-wrapper"><input type="text" id="cpassword" name="cpassword" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" />
                        <div class="popover">Input this field!</div>
                    </div>
                </div>
                <button id="submit" name="submit">Sign up</button>
            </form>

        </div>
    </div>

</body>
<script src="../resources/js/function.js"></script>
</html>